.mainheading
{
    text-align: center;
    color: white;
    padding-top:2em;
    padding-bottom: 2em;
    background-color: #47bf7b
}

#pagenav
{
    float: right;
}

.header
{
    color:white;
    padding-top:1em;
    padding-bottom:1em;
    background-color: #47bf7b;
    text-align:center;
} 
        
p
{
    text-align: center;
}
a:hover 
{
    color:#47bf7b;
    text-decoration:underline;
    font-weight:bold
}

#ucclogo
{
    right:300;
    top:600;
}

.button 
{
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body
{
    background-color: #D5D5D5;
}
}
bo
