.mainheading{
    text-align: center;
    color: white;
    padding-top:2em;
    padding-bottom: 2em;
    background-color: #47bf7b;
            }
                       
           
body{ background-color:#E1E5E3;
    }

#pagenav{float: right;
        }

#header{color:white;
        padding-top:1em;
        padding-bottom:1em;
        background-color: #47bf7b;
        text-align:center;
        }        